@{
    ViewBag.Title = "Index";
}
@model TH_Project.ViewModel.ProductVM
<style>
    .category_section {
        display: flex;
        flex-direction: row; /* Hiển thị theo hàng ngang */
        padding: 20px;
    }

    .cate_pick {
        width: 30%; /* Chiếm 30% chiều rộng */
    }

    .category-list {
        list-style-type: none; /* Bỏ dấu đầu dòng */
        padding: 0; /* Bỏ padding mặc định */
    }

    .category-item {
        margin-bottom: 10px; /* Khoảng cách giữa các mục */
    }
</style>



<!-- end slider section -->




<section class="category_section layout_padding" style="display: flex;">
    <div class="cate_pick">
        <h3>Chủ đề sách</h3>
        <ul class="category-list">
            @foreach (var item in Model.cHUDEs)
            {
                <li class="category-item">
                    @Html.ActionLink(item.TenChuDe, "Index", "Product", new { idCD = item.MaCD }, null)

                </li>
            }
        </ul>

        <h3>Nhà xuất bản</h3>
        <ul class="category-list">
            @foreach (var item in Model.nxb)
            {
                <li class="category-item">
                    @Html.ActionLink(item.TenNXB, "Index", "Product", new { idNXB = item.MaNXB }, null)

                </li>
            }
        </ul>
    </div>

    <div class="container" style="text-align: center;">
        <h3 style="color: darkred">SÁCH MỚI</h3>
        <div class="row">
            @foreach (var item in Model.SACHes)
            {
                <div class="col-md-4 mb-4">
                    <a href="@Url.Action("ProductDetail", "Product", new { id = item.Masach })" class="item card text-center" style="text-decoration: none;">
                        <img src="https://i.pinimg.com/736x/ce/96/e0/ce96e07b5db5a48a152c4ba65d6a52ec.jpg" class="card-img-top" alt="@item.Tensach" />
                        <div class="card-body">
                            <h5 class="card-title">@item.Tensach</h5>
                            <p class="card-text">@item.Giaban</p>
                        </div>
                    </a>
                </div>
            }
        </div>



    </div>

</section>

<!-- catagory section -->
<!-- end about section -->
<!-- client section -->
